.container{

    display: flex;
    flex-flow: row wrap;
    text-align: center;
    background-color:rgb(199, 202, 205);
    
}
.container>*{
    margin: 10px;
    padding: 10px;
    flex: 1 100%;
    border-radius: 10px;

}

body {
    overflow-x: scroll;
}

header {
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_btn {
    font-size: 25px;
    height: 40px;
    background-color: aliceblue;
}

.stylepart {
    background-color: antiquewhite;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/style_pic1.jpg);
    background-position: center;
    background-size: cover;
}

.style_text {
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.discountpart {
    background-color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.discount_head_text {
    align-items: center;
}

.discount_offer {
    font-size: 40px;
}

.discount_text {
    font-size: 25px;
}

.shop_now {
    font-size: 30px;
    background-color: orange;
}

.image {
    height: 500px;
    width: 100%;

}

.newstyle {
    background-color: rgb(254, 88, 28);
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    
}

.newstyle_head {
    font-size: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;


}

.newstyle_body {
    font-size: 20px;
    color: white;
    text-align: center; 
    justify-content: center;
}

.buy_now {
    font-size: 30px;
    color: black;
    margin-top: 20px;
}



footer {
    background-color: whitesmoke;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
.footer_h{
    font-size: 20px;
    color: black;
}
.icon{
    font-size: 50px;
    color: orange;
}
.footer_text{
font-size: 16px;
align-items: center;
justify-content: center;
display: flex;
}
@media all and (min-width:800px){

    .image{
        flex: 4;
    }
    .newstyle{
        flex: 4;
    }
.stylepart{
    order: 1;
}
.discountpart{
    order: 1;

}
.image{
    order: 2;
}
.newstyle{
    order: 2;
}

.footer{
    order: 4;
}
}